/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 /*= require foundation */

 @import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */

.submit {

}

.col4 {
	color: grey;
	font-size: 20px;
	padding-bottom: 10px;
}
.dragdrop {
	border-left: 5px dashed lightgrey;
	text-align: center;
}

footer {
	text-align: center;
	position:absolute;
    bottom:0;
    width:100%;
    font-size: 12px;
    border-top: 2px solid grey;
}

.lable {
	text-align: center;
	font-size: 15px;
}

header {
	border-bottom: 3px solid;
	height: 50px;
}
.fi-x {
   font-size: 50px;
   float: right;
}

.fi-download {
   font-size: 50px;
   float: left;
}

.navbar {
	position: fixed;
	ul {
		font-size: 30px;
		font-family: 'Fjalla One', sans-serif;
	}
}


.del-button-hide {
  display: none;
}


.showpage {
	// background-color: #00AFE1;
}

.fullboard {
	height: 500px;
	width: 1000px;
	margin: 0 auto;
}

.inside {
	width: 250px;
	height: 250px;
	float: left;
	background-size: cover;
	border: 10px solid white;

}

.board {
	height: 250px;
	width: 250px;
}

.homepage {
	background-image: url('comp.jpg');
	background-size: cover;
}

.title {
	// padding-top: 115px;
	font-family: 'Lobster', cursive;
	font-size: 125px;
	text-align: left;
	color: white;
}

.signin {
	font-family: 'Lobster', cursive;
	text-align: left;
	font-size: 60px;
}

.pinstagram {
	font-family: 'Lobster', cursive;
	font-size: 57px;
	border: none;
	background: none;
	position: absolute;
	margin: 0;
	padding: 0;
	padding-left: 40px;
	margin-top: -11px;
	z-index: 999999;
}
.name {
	float: right;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 3px solid black;
	font-family: 'Fjalla One', sans-serif;
}
.login {
	float: right;
	padding-right: 50px;
	font-family: 'Fjalla One', sans-serif;
}

.picture {
	height: 300px;
	width: 300px;
}

.gram {
	overflow: scroll;
	height: 100vh;
	width: 305px;
	float: left;
	display: inline-block;
}

.userfeed {
	overflow: scroll;
	float: left;
	display: inline-block;
	width: 305px;
	height: 100%;
}

footer {
	text-align: center;
}

.albumview {
	border: 2px dotted black;
}

.ui-draggable-dragging {
	height: 300px;
	width: 300px;
	z-index: 9999999;
	opacity: 0.7;
	border: 5px solid black;
}
